<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    <h3>{{.AcaYear}}</h3>
    <h4>{{.Fall.Term}}</h4>
    {{range .Fall.Courses}}
        <h5>{{.Number}} {{.Name}} - {{.Units}} units</h5>
    {{end}}
    <h4>{{.Spring.Term}}</h4>
    {{range .Fall.Courses}}
        <h5>{{.Number}} {{.Name}} - {{.Units}} units</h5>
    {{end}}
{{end}}

</body>
</html>